# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../TH_SelectionSort\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\TH_SelectionSort\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
